{% extends "base.html" %}

{% block head_title %}{{ instance.title }} | {{ block.super }}{% endblock head_title %}

{% block content %}

<h1>{{ title }} </h1>


{{ instance.id }}<br/>
{{ instance.title }}<br/>


<hr>
<a class="btn btn-primary btn-sm" href='{% url "posts:update" id=instance.id %}' role="button">Editar</a>

<a class="btn btn-primary btn-sm" href='{% url "posts:list" %}' role="button">Retornar</a>
<hr>
<a class="btn btn-primary btn-sm btn-danger" href='{% url "posts:delete" id=instance.id %}' role="button">Deletar</a>

{% endblock content %}
