{% extends "base.html" %}

{% block content %}
<hr>
<h1>Controle Financeiro - LS</h1>
<hr>
<ul class="pagination pagination-sm">
  <li><a href='{% url "posts:list" %}'>Início</a></li>
  <li class="active"><a href='{% url "posts:create" %}'>Adicionar dados</a></li>
  <li><a href='{% url "posts:dre" %}'>DRE</a></li>
  <li><a href="#">Gráficos e Estatíticas</a></li>
</ul>
<hr>
<a class="btn btn-info btn-sm" href='{% url "addinfo:list" %}' role="button">Contratos</a>
<hr>
<br>
<h4 style="color:rgb(255,0,0)"><b>Preencha os dados:</b></h4>

<hr>
<form method='POST' action='' enctype="multipart/form-data">{% csrf_token %}
{{ form.as_p }}
<input type='submit' value='Registrar' />
</form>

<p>*Deixar em branco caso não se tenha os dados</p>
<hr>

{% endblock content %}


<!-- <form method='POST' action=''>{% csrf_token %}
{% for field in form %}
<div class="form-group row">
{{ field.erros }}
{{ field.label_tag }} {{ field }}
</div>
{% endfor %}
<p><input type='submit' value='Create Post' /></p>
</form>  -->
