{% extends "base.html" %}

{% block content %}

<hr>
<h1>Controle Financeiro - LS</h1>
<hr>

<ul class="pagination pagination-sm">
<li><a href='{% url "posts:list" %}'>Início</a></li>
<li><a href='{% url "posts:create" %}'>Adicionar dados</a></li>
<li><a href='{% url "posts:dre" %}'>DRE</a></li>
<li class="active"><a href="#">Detalhes</a></li>
</ul>

<hr>
<h4>Filtrar período:</h4>
<br>
<form method="GET" action="">
  <label for="mes">Mês: </label>
    <select name="mes" id="nes">
      <!-- <option selected disabled>Choose here</option> -->
        <option value="todos">Todos</option>
        <option value="1">Janeiro</option>
        <option value="2">Fevereiro</option>
        <option value="3">Março</option>
        <option value="4">Abril</option>
        <option value="5">Maio</option>
        <option value="6">Junho</option>
        <option value="7">Julho</option>
        <option value="8">Agosto</option>
        <option value="9">Setembro</option>
        <option value="10">Outubro</option>
        <option value="11">Novembro</option>
        <option value="12">Dezembro</option>
    </select>

<label for="ano">Ano: </label>
<select name="ano" id="ano">
  <!-- <option selected disabled>Choose here</option> -->
  <option value="todos">Todos</option>
  <option value="2015">2015</option>
  <option value="2016">2016</option>
  <option value="2017">2017</option>
  <option value="2018">2018</option>
  <option value="2019">2019</option>
</select>

<input type="submit" value="Buscar">
</form>

<hr>

<form method="GET" action="">
<label for="trimestre">Trimestre: </label>
  <select name="trimestre" id="trimestre">
    <!-- <option selected disabled>Choose here</option> -->
    <option value="0">-</option>
    <option value="1">1T</option>
    <option value="2">2T</option>
    <option value="3">3T</option>
    <option value="4">4T</option>
  </select>
<label for="ano">Ano: </label>
  <select name="ano" id="ano">
    <!-- <option selected disabled>Choose here</option> -->
    <option value="todos">Todos</option>
    <option value="2015">2015</option>
    <option value="2016">2016</option>
    <option value="2017">2017</option>
    <option value="2018">2018</option>
    <option value="2019">2019</option>
  </select>
<input type="submit" value="Buscar">
</form>

<hr>

  <h2><b> {{title}} </b></h2><br>

<br>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>Legenda</th>
      <th>Despesa</th>
    </tr>
  </thead>
  <tbody>
    {% for dados in legendas_valores.items %}
    <tr>
      <!-- <td><a href="/posts/?mes={{ mes }}&ano={{ ano }}&contrato={{ local }}&servico={{ dados.0 }}&tipo=SAIDA">{{ dados.0 }}</td> -->
      <td><a href="/posts/?mes={{ mes }}&ano={{ ano }}&contrato={{ local }}&servico={{ dados.0 }}">{{ dados.0 }}</td>
      <td>{{ dados.1.saida }}</td>
    </tr>
    {% endfor %}
  </tbody>
  <tfoot>
 <tr>
   <td bgcolor="#E92525"><b>TOTAIS DE SAÍDAS:</b></td>
   <td bgcolor="#E92525"><b>{{ valorTotalSaida }}</b></td>
 </tr>
 <tr><td></td></tr>
 <tr>
   <td bgcolor="#50EE24"><b>TOTAIS DE ENTRADAS:</b></td>
   <td bgcolor="#50EE24"><b>{{ valorTotalEntrada }}</b></td>
 </tr>
 <tr><td></td></tr>
<tr>
  <td bgcolor="#FFFF0E"><b>LUCRO:</b></td>
  <td bgcolor="#FFFF0E"><b>{{ valorTotalLucro }}</b></td>
</tr>
</tfoot>
</table>

<br>
<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {

    var saida = {{graph_saida|safe}};
    var data = google.visualization.arrayToDataTable(saida);

    var options = {'title': 'Despesas',
                   'width':800,
                   'height':400};
    // Instantiate and draw our chart, passing in some options.
    var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
    chart.draw(data, options);
  }
</script>

<div class="row">
  <div class="col-md-8" id="chart_div"></div>
</div>

<hr>
<a class="btn btn-primary btn-sm" href='{% url "posts:list" %}' role="button">Retornar</a>
<hr>

{% endblock content %}


<!-- <h1> Detalhes: </h1>

<h4> Local: {{ instance.contrato }} </h4>
<h4> Descrição: {{ instance.detalhe }} </h4>
<h4> Data: {{ instance.data }} </h4>
<h4> Tipo: {{ instance.legenda }} </h4>
<h4> {{ instance.tipo }} </h4>
<h4> Valor: {{ instance.valor }} </h4>

{% if instance.anexo %}
<a href="{{ instance.anexo.url }}" target="_blank">Baixar Anexo</a>
{% else %}
<h4>Item sem anexo</h4>
{% endif %} -->
