{% extends "base.html" %}

{% block content %}


<hr>
<h1>Ordens de Compra - LS Projetos</h1>
<hr>

<ul class="pagination pagination-lm">
<li class="active"><a href='{% url "compras:list" %}'>Início</a></li>
<li><a href='{% url "compras:create" %}'>Adicionar dados</a></li>
<li ><a href="#">Detalhes</a></li>
</ul>

<hr>
<h4>Filtragem dados:</h4>
<br>
<form method="GET" action="">

<label for="data">Data: </label>
<select name="mes" id="data">
  <!-- <option selected disabled>Choose here</option> -->
  <option value="todos">Todos</option>
  <option value="1">Janeiro</option>
  <option value="2">Fevereiro</option>
  <option value="3">Março</option>
  <option value="4">Abril</option>
  <option value="5">Maio</option>
  <option value="6">Junho</option>
  <option value="7">Julho</option>
  <option value="8">Agosto</option>
  <option value="9">Setembro</option>
  <option value="10">Outubro</option>
  <option value="11">Novembro</option>
  <option value="12">Dezembro</option>
</select>

<label for="local">Contrato: </label>
<select name="local" id="local">
  <option value="">Todos</option>
  {% for cidade in cidades %}
  <option value={{cidade}}>{{cidade}}</option>
  {% endfor %}
</select>

<label for="status">Status: </label>
<select name="status" id="status">
  <option value="">Todos</option>
  <option value="PENDENTE">PENDENTE</option>
  <option value="URGENTE">URGENTE</option>
  <option value="FECHADO">FECHADO</option>
</select>

<input type="submit" value="Buscar">
</form>
<br>
<form method="GET" action="">
  <input type="text" name="detalhe" placeholder="Pesquisar pelo detalhe" value="{{request.GET.detalhe}}">
<input type="submit" value="Pesquisar">
<hr>
<br>


<h2><b> {{title}} </b></h2><br>
<table class="table table-condensed">
  <thead>
    <tr>
      <th>Ações</th>
      <!-- <th>id</th> -->
      <th>Data</th>
      <th>Contrato</th>
      <th>Status</th>
      <th>Prazo</th>
      <th>Detalhes</th>
      <th>Anexo</th>
    </tr>
  </thead>
  {% for dados in object_list %}
  <tr>
      <td><a href="{% url 'compras:detail' id=dados.id %}">Detalhes</a> | <a href="{% url 'compras:update' id=dados.id %}">Editar</a> | <a href="{% url 'compras:delete' id=dados.id %}" onclick="return confirm('Confirma excluir o item selecionado?')">Deletar</a></td>
      <!-- <td>{{dados.id}}</td> -->
      <td>{{dados.data}}</td>
      <td>{{dados.origem}}</td>
      <td>{{dados.status}}</td>
      <td>{{dados.prazo}}</td>
      <td>{{dados.detalhes}}</td>
      {% if dados.anexo != "" %}
      <td><a href="{{ dados.anexo.url }}" target="_blank">Download</td>
      {% else %}
      <td>-</td>
      {% endif %}
</tr>
{% endfor %}

</table>

{% endblock content %}
